<%- include('../_head') %>

<body>
  <a href='/log-out'>log out</a>
  <a href='/dashboard'>dashboard</a>
  <a href='/people'>people</a>
  <form>
  
    <input type='text' name='staffId' placeholder='staff number' value='<%= person.staffId %>' disabled>
    <input type='text' name='firstName' placeholder='first name' value='<%= person.firstName%>' disabled>
    <input type='text' name='surname' placeholder='surname' value='<%= person.surname %>' disabled>
    <input type='email' name='email' placeholder='email' value='<%= person.email %>' disabled>

    <select name='gradeId' disabled>
      <option value='' disabled selected>grade</option>
      <% options.grades.forEach(function(grade) { %>
        <option value='<%= grade.optionId %>'
          <% if (person.gradeId === grade.optionId)  { %>
            selected
          <% } %>
        ><%= grade.option %></option>
      <% }) %>
    </select>
    
    <select name='roleId' disabled>
      <option value='' disabled selected>role</option>
      <% options.roles.forEach(function(role) { %>
        <option value='<%= role.optionId %>'
          <% if (person.role === role.option)  { %>
            selected
          <% } %>
        ><%= role.option %></option>
      <% }) %>
    </select>
    
    <select name='statusId' disabled>
      <option value='' disabled selected>status</option>
      <% options.statuses.forEach(function(status) { %>
        <option value='<%= status.optionId %>'
          <% if (person.statusId === status.optionId)  { %>
            selected
          <% } %>
        ><%= status.option %></option>
      <% }) %>
    </select>
    
    <select name='locationId' disabled>
      <option value='' disabled selected>location</option>
      <% options.locations.forEach(function(location) { %>
        <option value='<%= location.optionId %>'
          <% if (person.locationId === location.optionId)  { %>
            selected
          <% } %>
        ><%= location.option %></option>
      <% }) %>
    </select>
    
    <select name='managerId' disabled>
        <option value='' disabled selected>manager</option>
        <% options.managers.forEach(function(manager) { %>
          <option value='<%= manager.optionId %>'
            <% if (person.managerId === manager.optionId)  { %>
              selected
            <% } %>
          ><%= manager.option %></option>
        <% }) %>
    </select>
    
    <select name='skills' disabled multiple>
      <option value='' disabled>skills</option>
      <% options.skills.forEach(function(skill) { %>
        <option value='<%= skill.optionId %>' 
          <% if (person.skills.includes(skill.optionId))  { %>
            selected
          <% } %>
        ><%= skill.option %></option>
      <% }) %>
    </select>

    <% if (user.role === 'Resource Manager') { %>
      <a href='/<%= person.personId %>/person/edit'>edit</a>
    <% } %>
  
  </form>
</body>
