<%- include('_head') %>

<body>
  <a href='/log-out'>log out</a>
  <a href='/dashboard'>dashboard</a>
  <a href='/people'>people</a>


  <a href='/<%= user.personId %>/person'><%= user.firstName + ' ' + user.surname %></a>

  <% if(people.length > 0) { %>
    <% people.forEach(function(person) { %>
      <a href='/<%= person.personId %>/person'><%= person.firstName + ' ' + person.surname %></a>
    <% }) %>
  <% } else { %>
    <div>no people managed</div>
  <% }%>
</body>