<div id='leave-table'>
  <div id='sub-title'>leave</div>
  
  <table id='leave'>
    <tr>
      <th class='date'>date</th>
      <th class='duration'>duration</th>
      <th class='type'>type</th>
      <th class='status'>status</th>
      <th class='delete'>action</th>
    </tr>
    <% requests.forEach(function(request) { %>
    <tr <% if (!request.thisLeaveYear) { %> class='not-this-year' <% } %>>
      <td class='date'><%= request.date %></td>
      <td class='duration'><%= request.duration %></td>
      <td class='type'><%= request.type %></td>
      <td class='status'><%= request.status %></td>
      <td class='delete'>
        <% if (view === 'person') { %>
          <a class='table-link' href='/<%= request.leaveId %>/leave-remove/<%= person.personId %>'>remove</a>
        <% } else if (!request.passed) { %>
          <a class='table-link' href='/<%= request.leaveId %>/leave-cancel'>cancel</a>
        <% } %>
      </td>
    </tr>
    <% }) %>
  </table>
</div>
