<div id='team-activity'>
  <div class='calendar-bar'>team activity</div>
  <a class='calendar-bar right' href='/dashboard/future'>→</a>
  <a class='calendar-bar right' href='/dashboard/past'>←</a>

  <table id='calendar'>
    <tr>
      <th class='team-member'></th>
      <th class='weekday'>mon <%= week[1].getDate() %>/<%= week[1].getMonth() + 1 %></th>
      <th class='weekday'>tue <%= week[2].getDate() %>/<%= week[1].getMonth() + 1 %></th>
      <th class='weekday'>wed <%= week[3].getDate() %>/<%= week[1].getMonth() + 1 %></th>
      <th class='weekday'>thu <%= week[4].getDate() %>/<%= week[1].getMonth() + 1 %></th>
      <th class='weekday'>fri <%= week[5].getDate() %>/<%= week[1].getMonth() + 1 %></th>
    </tr>

  <% leave.forEach(function(person) { %>
    <tr>
      <td class='team-member'><a class='table-link' href='/<%= person.personId %>/person'><%= person.person %></a></td>

      <% for (let i = 1; i < 6; ++i) { %>

        <td class='weekday'>

          <% if (person.leave[i] === 0) { %>

            <div class='am'></div>
            <div class='pm'></div>

          <% } else if (Array.isArray(person.leave[i])) { %>

            <div class='am <%= person.leave[i][0].status %>'>

              <% if (person.leave[i][0].status === 'pending') { %>
                ...pending
              <% } else if (person.leave[i][0].status === 'approved') { %>
                leave
              <% } %>

            </div>
            <div class='pm <%= person.leave[i][1].status %>'>

              <% if (person.leave[i][1].status === 'pending') { %>
                ...pending
              <% } else if (person.leave[i][1].status === 'approved') { %>
                leave
              <% } %>

            </div>

          <% } else if (person.leave[i].duration === 'am') { %>

            <div class='am <%= person.leave[i].status %>'>

              <% if (person.leave[i].status === 'pending') { %>
                ...pending
              <% } else if (person.leave[i].status === 'approved') { %>
                leave
              <% } %>

            </div>
            <div class='pm'></div>

          <% } else if (person.leave[i].duration === 'pm') { %>

            <div class='am'></div>
            <div class='pm <%= person.leave[i].status %>'>

              <% if (person.leave[i].status === 'pending') { %>
                ...pending
              <% } else if (person.leave[i].status === 'approved') { %>
                leave
              <% } %>

            </div>

          <% } else if (person.leave[i].duration === 'all day') { %>

            <% if (person.leave[i].status === 'pending') { %>
              <div class='ad pending'>...pending</div>
            <% } else if (person.leave[i].status === 'approved') { %>
              <div class='ad approved'>leave</div>
            <% } else if (person.leave[i].status !== 'rejected') { %>
              <div class='ad bank-holiday'><%= person.leave[i].status %></div>
            <% } %>

          <% } %>

        </td>

      <% } %>

    </tr>

  <% }) %>

  </table>

</div>
