<%- include('_head') %>

<body>
  <div id='banner'>
    <div id='small-title'>Resource Management&nbsp;Tool</div>
    <a class='banner-link' href='/people'>people</a>
    <a class='banner-link' href='/leave'>leave</a>
    <a class='banner-link right' href='/log-out'>log out</a>
  </div>

<!-- <table>
  <tr>
    <th></th>
    <th>01/04/19</th>
    <th>02/04/19</th>
    <th>03/04/19</th>
    <th>04/04/19</th>
    <th>05/04/19</th>
    <th>06/04/19</th>
    <th>07/04/19</th>
  </tr>
  <tr>
    <td><a class='person-link' href='/<%= user.personId %>/person'><%= user.firstName %>&nbsp;<%= user.surname %></a></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <% if(people.length > 0) { %>
    <% people.forEach(function(person) { %>
      <tr>
        <td><a class='person-link' href='/<%= person.personId %>/person'><%= person.firstName %>&nbsp;<%= person.surname %></a></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% }) %>
  <% } %> -->

  </table>
</body>
