<%- include('_head') %>
<%- include('_date-picker') %>

<body onload='recentre()'>
  <content id='leave-page'>

    <div id='banner'>
      <div id='small-title'>Resource Management&nbsp;Tool</div>
      <a class='banner-link right' href='/log-out'>log out</a>
      <a class='banner-link right' href='/dashboard'>dashboard</a>
    </div>

    <%- include('_leave-requests') %>
    <%- include('_leave-balance') %>
    <%- include('_leave-table') %>

  </content>
</body>
