<%- include('../_head') %>

<body>

  <content id='person-page'>

  <div id='banner'>
    <div id='small-title'>Resource Management&nbsp;Tool</div>
    <a class='banner-link right' href='/log-out'>log out</a>
    <a class='banner-link right' href='/dashboard'>dashboard</a>
    <a class='banner-link right' href='/people'>people</a>
  </div>

  <div id='person-left'>
    <div id='sub-title'>person</div>

    <form id='person-form' action='/person/add' autocomplete='off' method='POST'>
    
      <div class='form-row'>
        <label class='field-label'>staff number</label>
        <input class='person-record right' type='text' name='staffId' placeholder='...' required>
      </div>
      <div class='form-row'>
        <label class='field-label'>first name</label>
        <input class='person-record right' type='text' name='firstName' placeholder='...' required>
      </div>
      <div class='form-row'>
        <label class='field-label'>surname</label>
        <input class='person-record right' type='text' name='surname' placeholder='...' required>
      </div>
      <div class='form-row'>
        <label class='field-label'>email</label>
        <input class='person-record right' type='email' name='email' placeholder='...' required>
      </div>

      <div class='form-row'>
        <label class='field-label'>grade</label>
        <select class='person-record right' name='gradeId' required>
          <option value='' disabled selected>...</option>
          <% options.grades.forEach(function(grade) { %>
            <option value='<%= grade.optionId %>'><%= grade.option %></option>
          <% }) %>
        </select>
      </div>
      
      <div class='form-row'>
        <label class='field-label'>role</label>
        <select class='person-record right' name='roleId' required>
          <option value='' disabled selected>...</option>
          <% options.roles.forEach(function(role) { %>
            <option value='<%= role.optionId %>'><%= role.option %></option>
          <% }) %>
        </select>
      </div>
      
      <div class='form-row'>
        <label class='field-label'>status</label>
        <select class='person-record right' name='statusId' required>
          <option value='' disabled selected>...</option>
          <% options.statuses.forEach(function(status) { %>
            <option value='<%= status.optionId %>'><%= status.option %></option>
          <% }) %>
        </select>
      </div>
      
      <div class='form-row'>
        <label class='field-label'>location</label>
        <select class='person-record right' name='locationId' required>
          <option value='' disabled selected>...</option>
          <% options.locations.forEach(function(location) { %>
            <option value='<%= location.optionId %>'><%= location.option %></option>
          <% }) %>
        </select>
      </div>
      
      <div class='form-row'>
        <label class='field-label'>manager</label>
        <select class='person-record right' name='managerId' required>
          <option value='' disabled selected>...</option>
          <% options.managers.forEach(function(manager) { %>
            <option value='<%= manager.optionId %>'><%= manager.option %></option>
          <% }) %>
        </select>
      </div>

      <label class='field-label'>skills</label>
      <div id='skills' class='right'>
        <% options.skills.forEach(function(skill) { %>
          <input class='hidden' type='checkbox' id='skill-<%= skill.optionId %>' name='skills' value='<%= skill.optionId %>'>
          <label class='skill-button' for='skill-<%= skill.optionId %>'><%= skill.option %></label>
        <% }) %>
      </div>
      
    </form>

    <input class='person-record' form='person-form' type='submit' value='submit'>
    <a class='banner-link' href='/people'>cancel</a>
  </div>
  
  <div id='flash'>
    <% if (flash && flash.message) { %>
      <%= flash.message %>
    <% } %>
  </div>
</body>
